<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Админочка</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
<div class="page">
    <div class="header">
        {% include 'internal/block.twig' with {block : 'header', data : data} %}
    </div>
    <div class="colorline">
    </div>
    <div class="content clearfix">
        <nav class="catalog-navigation">
            <div class="book-janre">
                <span>Действия</span>
                <ul class="items">

                    <li class="item">
                        <a href="/admin/books">Список книг</a>
                    </li>
                    <li class="item">
                        <a href="/admin/books/add">Добавить книгу</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% include 'internal/block.twig' with {block : 'content', data : data} %}
    </div>
    <div class="footer">

    </div>
</div>
</body>

</html>
