<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Скачать электронные книги бесплатно</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <div class="page">
        <div class="header">
            {% include 'internal/block.twig' with {block : 'header', data : data} %}
        </div>
        <div class="colorline">
        </div>
        <div class="content clearfix">

            <nav class="catalog-navigation">
                <div class="book-janre">
                    <span>Жанры</span>
                    <ul class="items">


                        <li class="item">
                            <a href="#">Бизнес-книги</a>&nbsp;<span class="item-number">6133</span>
                        </li>


                        <li class="item">
                            <a href="#">Боевики, остросюжетная литература</a>&nbsp;<span class="item-number">2859</span>
                        </li>


                        <li class="item">
                            <a href="#">Детективы</a>&nbsp;<span class="item-number">12316</span>
                        </li>



                        <li class="item">
                            <a href="#">Детские книги</a>&nbsp;<span class="item-number">10186</span>
                        </li>



                        <li class="item">
                            <a href="#">Зарубежная литература</a>&nbsp;<span class="item-number">21927</span>
                        </li>



                        <li class="item">
                            <a href="#">История</a>&nbsp;<span class="item-number">11980</span>
                        </li>



                        <li class="item">
                            <a href="#">Классическая литература</a>&nbsp;<span class="item-number">12956</span>
                        </li>



                        <li class="item">
                            <a href="#">Книги по психологии</a>&nbsp;<span class="item-number">6991</span>
                        </li>



                        <li class="item">
                            <a href="#">Компьютерная литература</a>&nbsp;<span class="item-number">840</span>
                        </li>



                        <li class="item">
                            <a href="#">Красота и здоровье</a>&nbsp;<span class="item-number">4256</span>
                        </li>



                        <li class="item">
                            <a href="#">Культура и искусство</a>&nbsp;<span class="item-number">3460</span>
                        </li>



                        <li class="item">
                            <a href="#">Любовные романы</a>&nbsp;<span class="item-number">9545</span>
                        </li>



                        <li class="item">
                            <a href="#">Наука и образование</a>&nbsp;<span class="item-number">4690</span>
                        </li>



                        <li class="item">
                            <a href="#">Периодические издания</a>&nbsp;<span class="item-number">86</span>
                        </li>



                        <li class="item">
                            <a href="#">Повести, рассказы</a>&nbsp;<span class="item-number">13</span>
                        </li>



                        <li class="item">
                            <a href="#">Поэзия и драматургия</a>&nbsp;<span class="item-number">10720</span>
                        </li>



                        <li class="item">
                            <a href="#">Приключения</a>&nbsp;<span class="item-number">7953</span>
                        </li>



                        <li class="item">
                            <a href="#">Публицистическая литература</a>&nbsp;<span class="item-number">11067</span>
                        </li>



                        <li class="item">
                            <a href="#">Религия</a>&nbsp;<span class="item-number">4055</span>
                        </li>



                        <li class="item">
                            <a href="#">Современная проза</a>&nbsp;<span class="item-number">18570</span>
                        </li>



                        <li class="item">
                            <a href="#">Справочники</a>&nbsp;<span class="item-number">2865</span>
                        </li>



                        <li class="item">
                            <a href="#">Ужасы, мистика</a>&nbsp;<span class="item-number">5417</span>
                        </li>



                        <li class="item">
                            <a href="#">Фантастика</a>&nbsp;<span class="item-number">13516</span>
                        </li>



                        <li class="item">
                            <a href="#">Фэнтези</a>&nbsp;<span class="item-number">12753</span>
                        </li>



                        <li class="item">
                            <a href="#">Хобби, досуг</a>&nbsp;<span class="item-number">7699</span>
                        </li>



                        <li class="item">
                            <a href="#">Эзотерика</a>&nbsp;<span class="item-number">3694</span>
                        </li>



                        <li class="item">
                            <a href="#">Эротика и секс</a>&nbsp;<span class="item-number">2557</span>
                        </li>



                        <li class="item">
                            <a href="#">Юмористическая литература</a>&nbsp;<span class="item-number">4499</span>
                        </li>


                    </ul>
                </div>
                <div class="popular-autors">
                <span>Популярные авторы</span>
                    <ul class="items">
                    <li class="item"><a href="#">Борис Акунин</a></li>
                        <li class="item"><a href="#">Николай Гоголь</a></li>
                         <li class="item"><a href="#">Юваль Ной Харари</a></li>
                          <li class="item"><a href="#">Татьяна Толстая</a></li>
                          <li class="item"><a href="#">Донато Карризи</a></li>
                    </ul>
                    <a href="/authors.html" class="all-autors">Все авторы</a>
            </div>
            </nav>
            <div class="catalog">
                            <h1>Каталог электронных книг</h1>
               <!-- <div class="menu">
                    <ul>
                        <li class="menu-active"><a href="#">Библиотека</a></li>
                        <li><a href="#">Жанры</a></li>
                        <li><a href="#">Авторы</a></li>
                    </ul>
                </div> -->
                <div class="books">
                    <div class="books-item">
                        <a href="/book.html"><img alt="" src="/img/1.png">
                        </a>
                        <div class="books-description">
                            <a href="/book.html">
                                <h2>Красный воробей</h2>
                            </a>
                            <a href="#">
                                <h3>Джейсон Метьюз</h3>
                            </a>
                        </div>
                    </div>
                    <div class="books-item">
                        <a href="#"><img alt="" src="/img/2.jpg">
                        </a>
                        <div class="books-description">
                            <a href="#">
                                <h2>Красный воробей</h2>
                            </a>
                            <a href="#">
                                <h3>Джейсон Метьюз</h3>
                            </a>
                        </div>
                    </div>
                    <div class="books-item">
                        <a href="#"><img alt="" src="/img/3.jpg">
                        </a>
                        <div class="books-description">
                            <a href="/book.html">
                                <h2>Красный воробей</h2>
                            </a>
                            <a href="#">
                                <h3>Джейсон Метьюз</h3>
                            </a>
                        </div>
                    </div>
                    <div class="books-item">
                        <a href="#"><img alt="" src="/img/4.jpg">
                        </a>
                        <div class="books-description">
                            <a href="#">
                                <h2>Красный воробей</h2>
                            </a>
                            <a href="#">
                                <h3>Джейсон Метьюз</h3>
                            </a>
                        </div>

                    </div>
                    <div class="books-item">
                        <a href="#"><img alt="" src="/img/5.jpg">
                        </a>
                        <div class="books-description">
                            <a href="#">
                                <h2>Красный воробей</h2>
                            </a>
                            <a href="#">
                                <h3>Джейсон Метьюз</h3>
                            </a>
                        </div>
                    </div>
                    <div class="books-item last">
                        <a href="#"><img alt="" src="/img/6.jpg">
                        </a>
                        <div class="books-description">
                            <a href="#">
                                <h2>Красный воробей</h2>
                            </a>
                            <a href="#">
                                <h3>Джейсон Метьюз</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="books">
                    <div class="books-item">
                        <a href="#"><img alt="" src="/img/1.png">
                        </a>
                        <div class="books-description">
                            <a href="#">
                                <h2>Красный воробей</h2>
                            </a>
                            <a href="#">
                                <h3>Джейсон Метьюз</h3>
                            </a>
                        </div>
                    </div>
                    <div class="books-item">
                        <a href="#"><img alt="" src="/img/2.jpg">
                        </a>
                        <div class="books-description">
                            <a href="#">
                                <h2>Красный воробей</h2>
                            </a>
                            <a href="#">
                                <h3>Джейсон Метьюз</h3>
                            </a>
                        </div>
                    </div>
                    <div class="books-item">
                        <a href="#"><img alt="" src="/img/3.jpg">
                        </a>
                        <div class="books-description">
                            <a href="#">
                                <h2>Красный воробей</h2>
                            </a>
                            <a href="#">
                                <h3>Джейсон Метьюз</h3>
                            </a>
                        </div>
                    </div>
                    <div class="books-item">
                        <a href="#"><img alt="" src="/img/4.jpg">
                        </a>
                        <div class="books-description">
                            <a href="#">
                                <h2>Красный воробей</h2>
                            </a>
                            <a href="#">
                                <h3>Джейсон Метьюз</h3>
                            </a>
                        </div>

                    </div>
                    <div class="books-item">
                        <a href="#"><img alt="" src="/img/5.jpg">
                        </a>
                        <div class="books-description">
                            <a href="#">
                                <h2>Красный воробей</h2>
                            </a>
                            <a href="#">
                                <h3>Джейсон Метьюз</h3>
                            </a>
                        </div>
                    </div>
                    <div class="books-item last">
                        <a href="#"><img alt="" src="/img/6.jpg">
                        </a>
                        <div class="books-description">
                            <a href="#">
                                <h2>Красный воробей</h2>
                            </a>
                            <a href="#">
                                <h3>Джейсон Метьюз</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <ul class="paging no-space">
                        <li class="current"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li class="delim"><span class="delimiter">...</span></li>
                        <li><a href="">59</a></li>
                        <li><a href="">60</a></li>
                    </ul>
                </div>
            </div>


        </div>
            <div class="footer">

            </div>
    </div>
</body>

</html>
