{% if debug %}<!--block {{ block }}-->{% endif %}{% for module in data.modules[block] %}<!--module template {{ module.template }}-->{% include module.template with {data : module.data} %}{% endfor %}<!--/block {{ block }}-->