<div>
    <form enctype="multipart/form-data" method="post" action="">
        <div>
            <input type="file" name="file">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</div>