.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
        font-family: 'Roboto', sans-serif;
}

h1 {
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 26px;
font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

h3 {
    font-size: 12px;
    padding: 0;
    margin: 0;
     font-weight: normal;
        font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.page {
    padding: 0;
    max-width: 1260px;
    position: relative;
    margin: 0 auto;
    min-width: 1260px;
}

.header {
    margin-top: 20px;
}

.logo {
    float: left;
}

.search {
    position: relative;
    width: 300px;
    margin: 0 0 0 auto;
    font-size: 14px;
}

.search input {
    width: 100%;
    height: 32px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #fff;
    color: #9E9C9C;
    box-sizing: border-box;
}

.search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #fff;
}

.colorline {
    height: 1px;
    background: linear-gradient(to right, #EECFBA, #C5DDE8);
    margin-top: 15px;
     margin-bottom: 15px;
}

.catalog {
    float: left;
}

.catalog-navigation {
    float: left;
    padding-right: 15px;
}

.book-janre {
  font-family: 'Roboto Slab', serif;
    font-size: 14px;
}

.items {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    list-style: none;
}

.item {
    position: relative;
    margin: 0;
    padding: 5px 5px 5px 0;
    font: normal 12px 'Roboto', sans-serif;
}


.item a {
    border-bottom: 1px solid hsla(7, 22%, 79%, .5);
    color: #70291f;
    text-decoration: none;
}

.item-number {
    margin-left: 2px;
    color: #7d7c7a;
    font-size: 9px;
}

.popular-autors {
    margin-top: 15px;
}

.popular-autors span {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}

.all-autors {
    margin-top: 10px;
    padding: 5px 0px 5px 5px;
    border: 1px black solid;
    text-decoration: none;
    display: block;
    width: 25%;
    font-size: 9px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

}


.breadcrumbs ul {
    padding: 0;
}

.breadcrumbs-ico {
    position: relative;
    top: 1px;
    font-size: 13px;
    color: #caced9;
    margin: 0 2px;
}

.breadcrumbs-ico:before {
      font-family: FontAwesome;
    content: "\f105";
}


.breadcrumbs ul li {
    display: inline;
}

.breadcrumbs ul li a {
    text-decoration: none;
     font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.breadcrumbs ul li a:hover {
    border-bottom: 1px solid;
}

.books {
    margin-bottom: 30px;
}

.books-description a {
    text-decoration: none;
    color: #000;
}

.books-description a:hover {
    text-decoration: underline;
}

.autor-name {
        border-bottom: 1px solid hsla(7, 22%, 79%, .5);
    color: #70291f;
    text-decoration: none;
}

.books-item {
display: inline-block;
    margin-right: 15px;
     width: 150px;
}

.books-item:last-of-type {
      margin-right: 0;
   
}

.books-item img {
    height: 200px;
    width: 150px;
}

.last {
    margin-right: 0px;
}

.pagination {
    text-align: center;
    padding-bottom: 70px;
}

.paging {
    float: right;
    width: auto;
    padding: 0;
    color: #777;
    list-style: none;
    line-height: 25px;
    margin: 0;
}

.paging li {
    display: block;
    float: left;
    margin: 2px;
}

.paging a {
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    outline: none;
    text-align: center;
    text-decoration: none;
    line-height: 22px;
    background: #f2f2f2;
    color: #777;
    font-weight: bold;
    font-size: 0.8em;
}

.paging .current a {
    /* selected number */
    background-color: #e16002;
    color: #ffffff;
    pointer-events: none;
}

.paging .delimiter {
    padding: 0 5px;
}


.paging a:hover {
    background-color: #e16002;
    color: white;
}

.page-number {
    text-align: center;
    padding-bottom: 25px;
}

.page-number:before {
    padding-right: 10px;
}

.page-number:after {
    padding-left: 10px;
}

.page-number-arrow {
    text-decoration: none;
    margin: 0 5px 0 5px;
    font-weight: bold;
    font-size: 20px;
    vertical-align: top;
    color: #f9d300;
}

.page-number-arrow:hover {
    opacity: 0.5;
}


/* страница книги*/

.book-page {
    margin-bottom: 20px;
}

.img-and-link {
       float: left;
}

.book-img {
  width: 150px;
    height: 200px;
   
}

.book-links {
    padding-top: 5px;
}

.book-links a {
      font-size: 14px;
    font-family: 'Roboto', sans-serif;  
    margin-right: 10px;
   /*  display: block;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #7BA7AB;
    color: #fff;
    padding: 10px 10px;
*/
}

.book-description {
        display: table-cell;
    height: 100%;
    padding-left: 10px;
}

.book-description h1 {
    margin-bottom: 2px;
}

.book-annotation {

}


.another-autor-title,
.another-janre-title {
margin-bottom: 10px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.another-janre-title  {
margin-top: 50px;
}


.letter_list {
    margin: 10px 40px 20px 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}

.letter_link {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 5px;
    height: 28px;
    line-height: 28px;
    min-width: 28px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 4px;
    border: 1px solid #e9edf8;
    border-radius: 2px;
}

.item_columns {
    font-size: 14px;
    margin: 20px 40px 40px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.5;
}

.item_column {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 25%;
}

.item_row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.footer {
    margin-top: 100px;
}
