<div class="logo">
    <a href="#">Электронная библиотека {{ data.hui }}</a>
</div>
<div class="search">
    <form>
        <input type="text" placeholder="Поиск">
        <button type="submit"></button>
    </form>
</div>